/* mobile */
@media only screen and (max-width: 500px){
    /* show the <br>s in nav in mobileview */
    /* (split navs into two rows) */
    .breakpoint{
        display:unset;
    }
    /* size navs to two rows */
    :root{
        --nav_height: 45px;
    }
    /* use seeable font */
    *{
        font-weight: normal;
    }
}
/* nav on bottom on phones*/
/* does not work as expected, as vh isn't properly defined on mobile, 
and scrolling up shows the url-bar, which shifts everything down. 
But only in some browsers, so I won't fix it. */
@media only screen and (max-width: 500px) and (min-width: 202px){ 
    /* to make place, as I can't use sticky when not in order */
    body{
        padding-bottom: var(--nav_height);
    }
    nav{
        position: fixed;
        top:unset;
        bottom:0;
    }
    /* .bar{
        position: absolute;
        top:unset;
        bottom: 0;
    } */
}
/* nav not sticky anymore on smartwatches*/
@media only screen and (max-width: 201px) and (min-width: 60px){
    nav{
        position:unset;
        flex-direction: column;
    }
}
