:root{
    --nav_height: 30px;
    --padding: 20px;
}
/* remove standard stuff */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: sans-serif;
    font-weight: lighter;
}
/* stick nav to top in desktop view */
nav{
    z-index: 10;
    position: sticky;
    top: 0;
    display:flex;
    width: 100%;
}
nav div{
    display:flex;
    justify-content: center;
    height: var(--nav_height);
}
nav div, nav a{
    width: 100%;
}
nav h1{
    margin: auto auto;
    font-size: 1em;
    text-align: center;
}
.bar{
    z-index:9;
    height: calc(var(--padding) + var(--nav_height));
    position:sticky;
    top:0;
}
main>div{
    padding: 0 var(--padding);
    min-height: calc(100vh - var(--nav_height));
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main>div>p{
    padding: var(--padding) 0;
    border-top: var(--color_text);
    border-top-style: solid;
    border-top-width: 1px;
}
main>div>p:first-of-type{
    /* padding-top: 0; */
    border-top: none;
}
/* main>div>p:last-of-type{
    padding-bottom: calc(var(--padding) + var(--nav_height));
} */
/* don't show the <br>s in desktopview */
.breakpoint{
    display:none;
}
/* apply colors */
:root{
    --color_1: #ECF87F;
    --color_2: #85b924;
    --color_3: #41740f;
    --color_4: #2d500b;
    --color_5: #161d08;
}
:root{
    --color_about: var(--color_1);
    --color_abilities: var(--color_2);
    --color_work: var(--color_3);
    --color_contact: var(--color_4);
    --color_text: var(--color_5);
    --color_link: #1a85af;
}
@media (prefers-color-scheme: dark) {
    :root{
        --color_about: var(--color_5);
        --color_abilities: var(--color_4);
        --color_work: var(--color_3);
        --color_contact: var(--color_2);
        --color_text: var(--color_1);
        --color_link: #21ade4;
    }
}
a{
    color: var(--color_link);
}
.about{
    background-color: var(--color_about);
}
.abilities{
    background-color: var(--color_abilities);
}
.work{
    background-color: var(--color_work);
}
.contact{
    background-color: var(--color_contact);
}
h1, h2, p{
    color: var(--color_text);
}
