:root{
    --nav_height: 30px;
    --padding: 20px;
}
/* remove standard stuff */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: sans-serif;
    font-weight: lighter;
}
/* stick nav to top in desktop view */
nav{
    z-index: 10;
    position: sticky;
    top: 0;
    display:flex;
    width: 100%;
}
nav div{
    display:flex;
    justify-content: center;
    height: var(--nav_height);
}
nav div, nav a{
    width: 100%;
}
nav h1{
    margin: auto auto;
    font-size: 1em;
    text-align: center;
}
/* .bar{
    height: calc(var(--padding) + var(--nav_height));
    position:sticky;
    top:0;
} */
main>div{
    padding: 0 var(--padding);
    min-height: calc(100vh - var(--nav_height));
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main>div>p{
    padding: var(--padding) 0;
    border-top: var(--color_link);
    border-top-style: solid;
    border-top-width: 1px;
}
main>div>p:first-of-type{
    /* padding-top: 0; */
    border-top: none;
}
/* main>div>p:last-of-type{
    padding-bottom: calc(var(--padding) + var(--nav_height));
} */
/* don't show the <br>s in desktopview */
.breakpoint{
    display:none;
}
/* apply colors */
:root{
    --color_about: #ECF87F;
    --color_work: #81B622;
    --color_contact: #59981A;
    --color_text: #35490b;
    --color_link: #427e65;
}
@media (prefers-color-scheme: dark) {
    :root{
        --color_about: #3a520f;
        --color_work: #29440d;
        --color_contact: #1f2c05;
        --color_text: #c7d16b;
        --color_link: #7ecaaa;
    }
}
a{
    color: var(--color_link);
}
.about{
    background-color: var(--color_about);
}
.work{
    background-color: var(--color_work);
}
.contact{
    background-color: var(--color_contact);
}
h1, h2, p{
    color: var(--color_text);
}
