/* mobile */
@media only screen and (max-width: 500px) {
  /* show the <br>s in nav in mobileview */
  /* (split navs into two rows) */
  .breakpoint {
    display: unset;
  }

  /* size navs to two rows */
  :root {
    --nav_height: 45px;
  }
  /* use seeable font */
  * {
    font-weight: normal;
  }
  footer {
    flex-direction: column;
  }
}

/* nav on bottom on phones*/
@media only screen and (max-width: 500px) and (min-width: 271px) {
}
/* nav not sticky anymore on smartwatches*/
@media only screen and (max-width: 270px) {
  .breakpoint {
    display: none;
  }
  :root {
    --nav_height: 30px;
  }
  nav {
    position: fixed;
    bottom: 0;
    align-items: end;
    flex-direction: column;
  }
  nav div {
    border-radius: unset;
  }
  .bar {
    position: unset;
  }
}
@media only screen and (max-width: 150px) {
  :root {
    --padding: 0;
  }
}
@media only screen and (max-width: 80px) {
  :root {
    --nav_height: 45px;
  }
  .breakpoint {
    display: unset;
  }
}

/* /////////////////////////////////////
----------Developepr Code-----
///////////////////////////////////////// */

@media (max-width: 768px) {
    
  /* stick nav to bottom in mobile view-- */
  nav {
    z-index: 10;
    position: fixed !important;
    bottom: 0 !important;
    align-items: end;
    margin-bottom: 15px;
    gap: 2px;
  }
  
  /* bottom nav style-- */
  nav div {
    display: flex;
    justify-content: center;
    height: var(--nav_height);
    border-radius: 0;
    /* remove bottom radius */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
  }
  nav a:first-of-type div {
    border-top-left-radius: 0;
    /* remove bottom radius */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  nav a:last-of-type div{
    border-top-right-radius:0;
    /* remove bottom radius */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
/* mak the theme button fixed on top- */
.theme-btn {
    position: fixed;
    margin-right: 10px;;
    top: 0;
    right: 0;
}
footer{
    padding-bottom: 100px;
}
}
