*{
    margin:0;
}
.hide, .hide *{display:none;}
body, html{
    height:100%;
    background-color: #000;
}
body{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:2em;
    font-weight:bolder;
    font-family:sans-serif;
    text-align:center;
}

#fromto{
    display:flex;
    justify-content:center;
}
#from, #to{
    margin-left:0.5em;
    margin-right:0.5em;
    width:20%;
}
.button, .input {
    background-color:white;
    border-radius:0.25em;
    border:none;
    font-size:large;
    text-align:center;
}
.button{
    padding-top:0.25em;
    padding-bottom:0.25em;
    padding:0.25em 0.6em;
}
.button:hover{
    background-color:lightgrey;
}
form hr{
    margin-top:1em;
    margin-bottom:1em;
}
form{
    color:white;
}
/* Alert window */
.success{background-color:#3aa74eaa;}
.fail{background-color:#aa3333aa;}

.fail, .success{
    backdrop-filter: blur(10px);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.softfail{
    position:absolute;
    top:auto;
    left:auto;
    background-color:#aa6f00dd;
    border-radius:1em;
}
#alert{
    display:flex;
    align-items:center;
    justify-content:center;
}
#alert p{
    height:fit-content;
    padding:1em;
    
}
/* video window */
#scanRegion{
    width: 100vmin;
    height: 100vmin;
}
#scanRegion canvas{
    width: 100%;
    height: 100%;
}
/* for printing */
#cards{
    width: 794px;
}
.card{
    background: linear-gradient(75deg, black 0%, rgba(20,17,47,1) 30%, rgba(0,153,213,1) 100%);
    width: 100%;
    height: 374px;
}
/* QR-Code */
.card canvas{
    margin-left:10px;
}